@using Welp.Models
@{
  ViewData["Title"] = "Home Page";
}

<ol>
  @foreach (Review review in Model)
  {
    <ul>
      <li>ID: @review.ReviewId</li>
      <li>Comment: @review.Comment</li>
      <li>Rating: @review.Rating</li>
    </ul>
  }