@using Welp.Models
@{
  Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">YOUVE DONE IT CHARLIE YOUVE DONE IT RUN ON HOME TAKE YOUR GOLDEN BLOG POST YOU ARE GOING TO WELPY WONKAS FACTORY</h1>
    <p></a>.</p>
</div>
